.user-card {
    width: 200px;
    height: 230px;
    padding: 20px;
    transition: .3s;
    margin-top: 1rem;
    color: #121212;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.user-card:last-child {
    margin-bottom: 4rem;
}

.user-card:hover,
.user-card h3:hover {
    transition: .3s;
    color: #2970ff;
    box-shadow: 0 15px 15px #fcfcfc;
}

.user-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.user-card h3 {
    margin-top: 0.5rem;
}

/* MEDIA SCREEN */

@media only screen and (max-width: 400px) {
    .user-card {
        width: 75%;
        height: 250px;
        margin-top: 2rem;
    }
}