.home {
    width: 100%;
    height: 90vh;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.user-card {
    width: 500px;
    height: 350px;
    color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    background: #010409;
    border: 3px solid #f1f2f3;
}

.top-result {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.user-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #f1f2f3;
}

.middle-result {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bio {
    width: 100%;
    height: 10%;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}

.created {
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-around;
}

.footer-result {
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-around;
}

.links {
    color: #fff;
    transition: 0.5s;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid #f1f2f3;
}

.links:hover {
    color: #010409;
    transition: 0.5s;
    background: #f1f2f3;
}

/* MEDIA SCREEN */

@media only screen and (max-width: 660px) {
    .user-card {
        width: 280px;
        height: 385px;
    }
}